/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*
COLORS HEX
red - #EB2227
yellow - #FBED1F

*/

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font-family: 'Rubik', sans-serif;
    background: #D9D7C1;
}

p {
  font-size: 1.1em;
  color: #555;
  margin: 10px 0;  
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Header & Footer
   =================== */
.pre-header {
  display: none;
  height: 50px;
  overflow: hidden;
  background: url("../img/header-bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-container {
    text-align: center;
    height: 140px;
    margin:0;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(25, 25, 25, 0.5);
    -moz-box-shadow:    0px 2px 9px 0px rgba(25, 25, 25, 0.5);
    box-shadow:         0px 2px 9px 0px rgba(25, 25, 25, 0.5);
    background: #EB2227;
    background: -webkit-linear-gradient(#EB2227, #980004); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EB2227, #980004); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EB2227, #980004); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EB2227, #980004); /* Standard syntax */
}

.header-logo {
  height: 120px;
  width: 156px;
  position: absolute;
  z-index: 200;
  background: url(../img/logo.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top:10px;
  left: 50%;
  margin-left:-78px;
}

.pre-footer {
  height: 100px;
  background: url('../img/carnival.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: -100px; 
}

.footer-container {
  border-top: 10px solid #EB2227;
  color:#FBED1F;
  background: #EB2227;
  background: -webkit-linear-gradient(#EB2227, #980004); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EB2227, #980004); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EB2227, #980004); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EB2227, #980004); /* Standard syntax */
}

p img {
  float: left;
  margin: 0 30px 20px 0;
}

.fa {
margin-right: 10px;
}

/* ==============
    Slider Styles
   ============== */
.main-slider {
  margin-top: 0px;
  background: #f9f9f9;
}

.main-slider .slide {
  margin: 0;
  padding: 0;
}

.main-slider .slide .slide-descr p{
  text-align: center;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom:0px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background: rgba(25, 25, 25, .75);
}

.main-slider img {
  position: relative;
  min-width:100%;
  min-height:100%;
  max-height:100%;
  max-width:100%;
}
/* ==============
    MOBILE: Menu
   ============== */
  nav {
    display: none;
  }

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding:0px 0 130px 0;
    background: #FFFEF3;
    border-left:5px solid #C00B10 ;
    border-right:5px solid #C00B10 ;
    box-shadow: 0px 2px 9px 0px rgba(25, 25, 25, 0.5);
    
}
.main article section{
  padding: 25px;
}
.main article .callout {
  padding: 0;
  font-size: 1.2em;
  padding: 30px 10px;
  background-color: #C00B10;
  text-align: center;
  color: #FBED1F;
}
.main .first-article {
  padding: 0;
  overflow: hidden;
}
.main article h2 {
  font-size: 1.2em;
  padding: 0;
  margin: 30px 0 0 0;
  color: #EB2227;
  text-align: left;
}
.main article h2:first-child {
  margin: 0;
}
.main article h3 {
  color: #555;
}
footer ul {
  text-align: center;
}

footer ul a {
  color: #fff;
  text-decoration: none;
}

footer ul a:hover {
  color: #FBED1F;
}

footer ul li {
  color: #fff;
  display: inline;
  margin-left: 15px;
}

footer article, aside {
    padding: 0px 2%;
    display: block;
    position: relative;
}

footer aside ul{
  padding: 0;
}

footer aside ul li{
  text-align: left;
  list-style: none;
  display: block;
  padding: 5px;
  font-size: .8em;
  margin: 0;
}

.footer-container footer {
    padding: 20px 0 30px 0;
    overflow: hidden;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Form Styles
   ========================================================================== */
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: none;
  outline: 2px solid #ffffff;
  border:none;
  color: #ffffff;
}
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b5b5b5;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #b5b5b5;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #b5b5b5;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #b5b5b5;
  }

label {
  color: #444;
  font-weight: 600;
  font-size: .8em;
}

button[type="submit"] {
  width: 100%;
  padding: 8px 5px;
  border-radius: 5px;
  margin: 5px 0;
  border:none;
  color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  background: #EB2227;
  background: -webkit-linear-gradient(#EB2227, #980004); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EB2227, #980004); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EB2227, #980004); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EB2227, #980004); /* Standard syntax */

  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}
button[type="submit"]:hover {
  background: #555;
  background: -webkit-linear-gradient(#777, #333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#777, #333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#777, #333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#777, #333); /* Standard syntax */
  box-shadow: 0 8px 12px rgba(0,0,0,0.25), 0 5px 8px rgba(0,0,0,0.22);
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

  .pre-header {
    display: block;
  }
  .header-container {
      height: 80px;
  }

  .header-logo {
    height: 150px;
    width: 196px;
    margin-left:-98px;
  }

  .pre-footer {
    height: 130px;
    margin-top: -130px; 
  }

/* ====================
    INTERMEDIATE: Menu
   ==================== */


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 786px) {

  .header-container {
      height: 100px;
  }

  .header-logo {
    height: 180px;
    width: 234px;
    margin-left:-117px;
  }

  nav {
    display: inline;
  }
  nav ul li {
    float: left;
    margin: 0 8px;
  }
  nav ul .fb-btn {
    float: right;
  }  
  nav ul .fb-btn i {
    color: #fff;
    font-size: 1.5em;
  }
  nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:hover {
    color: #FBED1F;
  }
  nav a:hover > li {
     border-bottom: 2px solid #FBED1F;
  }

  nav ul {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-right: 10px;
    list-style: none;
  }

nav ul .fb-btn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

nav ul .fb-follow:hover + .tooltiptext {
    visibility: visible;
}

nav ul .fb-follow + .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* ============
    WIDE: Main
   ============ */

    footer article {
        float: left;
        width: 45%;
    }

    footer aside {
        float: right;
        width: 40%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

  .wrapper {
      width: 1026px; /* 1140px - 10% for margins */
      margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
